@import '../../../styles/2-variables/_variables-index';
@import '../../../styles/5-globals/_globals-index';

.country-set-container {
	background-color: $shades-gray-60;
	display: flex;
	flex-direction: column;
	padding: $default-var;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	.country-dd-selector {
		padding: $default-var $default-var $default-var 0;
	}

	.check-save {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

.loading-countries {
	@extend .center;
	padding: 1rem;
}
