@import '../../styles/2-variables/_variables-index';

.backgroundContainer {
	position: fixed;
	height: 100vh;
	width: 100vw;
	z-index: -1;
	background: url('../../assets/netflix-image.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: auto;
	background-attachment: fixed;
	transform: scale(1.4);
}

.authentication__container {
	width: 100%;
	text-align: center;
	z-index: 5;

	.authentication__header {
		color: $netflix-text;
		text-align: center;
		margin-bottom: 2rem;
	}

	.authentication__form {
		margin-bottom: $default-var;
	}
}

@media (min-width: $breakpoint-md) {
	.backgroundContainer {
		position: fixed;
		height: 100vh;
		width: 100vw;
		z-index: -1;
		background: url('../../assets/netflix-image.jpg') no-repeat center center fixed;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: auto;
		transform: scale(1.4);
	}

	.authentication__container {
		width: 80%;
		max-width: 35rem;
		text-align: center;
	}
}

@media (min-width: $breakpoint-lg) {
	.backgroundContainer {
		transform: scale(1.6);
	}
}

@media (min-width: $breakpoint-xl) {
	.backgroundContainer {
		transform: scale(1.8);
	}

	.authentication__container {
		width: 100%;
		max-width: 35rem;
		margin-top: 9rem;
		text-align: center;
		opacity: 1;

		.authentication__header {
			color: $netflix-text;
			font-size: x-large;
			text-align: center;
			margin-bottom: 2rem;
		}
	}
}
