# Create a .env.production (for production mode) folder in the route of the application and copy paste the 4 lines below replacing the <...> with actual data
# For development purposes use .env file

REACT_APP_CONNECTION_STRING=<enter connectioni string e.g: http://localhost:5000/api>
REACT_APP_ASSET_URL=<enter connectioni string e.g: http://localhost:5000  <- remove the /api here >
REACT_APP_MOVIES_KEY=<add API key from the unogsNG>
REACT_APP_RAPIDAPI_URL=<url to Radidapi.com>