@import '../../../styles/2-variables/_variables-index';

.pwd-change-container {
	background-color: $shades-gray-60;
	display: flex;
	justify-content: center;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	.pwd-update-form {
		padding: $default-var;
		width: 100%;

		@media (min-width: $breakpoint-sm) {
			width: 80%;
		}

		& div {
			margin-bottom: $default-var * 2;
		}
	}
}
