@import '../../../variables/_variables.scss';

.pwd-change-container {
	padding: 1rem;
	background-color: $shades-gray-40;
}

@media screen and (min-width: 500px) {
	.pwd-update-form {
		width: 50%;
	}
}
