@import '../../../styles/2-variables/_variables-index';

.number-input-container {
	// background-color: deepskyblue;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 0.5rem;
	width: 100%;
}
