@import '../../../../variables/_variables.scss';

.Card {
	position: relative;
	margin: 0;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	border-radius: 4px;
	overflow: hidden;
	background: $shades-gray-40;
}

.login-card {
	background-color: $primary-black;
	opacity: 1;
	border-radius: 4px;
	padding: 3rem 2rem;

	@media (min-width: $breakpoint-sm) {
		opacity: 0.87;
	}
}

.card-expire-item {
	margin: 1rem 0;
	padding: 1rem;
	background-color: lightcoral; // dev only --> remove when done

	@media (min-width: $breakpoint-sm) {
		div {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}
}

/* Search result card styling */

.sr-card {
	// background-color: peru;
	display: flex;
	flex-direction: column;
}

.sr-res-mobile-only {
	margin-bottom: -5px;
	@media (min-width: $breakpoint-sm) {
		display: block;
	}

	@media (min-width: $breakpoint-md) {
		display: none;
	}
}

.sr-res-card-header,
.sr-res-content-container {
	display: none;

	@media (min-width: $breakpoint-md) {
		display: block;

		.sr-res-card-header {
			background-color: orangered;
			h3 {
				background-color: orchid;
			}
		}
	}
}
