@import '../../../../styles/2-variables/_variables-index';
@import '../../../../styles/5-globals/_globals-index';

.icon-button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid $primary-red;
	border-radius: 4px;
	background: $primary-red;
	color: $netflix-text;
	cursor: pointer;
	text-decoration: none;
	@extend .center;
}

.icon-button:focus {
	outline: none;
}

.icon-button:hover,
.icon-button:active {
	background: $secondary-red;
	border-color: $secondary-red;
}

.icon--button--inverse {
	background: transparent;
	color: $netflix-text;
}

.icon--button--inverse:hover,
.icon--button--inverse:active {
	color: $netflix-text;
	background: $secondary-red;
}

.icon--button--noborder {
	background: transparent;
	color: $netflix-text;
	border: none;
}

.icon--button--noborder:hover,
.icon--button--noborder:active {
	color: $netflix-text;
	background: $secondary-red;
}

.icon--button--danger {
	background: $button-danger;
	border-color: $button-danger;
}

.icon--button--danger:hover,
.icon--button--danger:active {
	background: $primary-red;
	border-color: $primary-red;
}

.icon-button:disabled,
.icon-button:hover:disabled,
.icon-button:active:disabled {
	background: $button-disabled;
	color: $netflix-text;
	border-color: $button-disabled;
	cursor: not-allowed;
}

.icon--button--small {
	font-size: 0.8rem;
}

.icon--button--big {
	font-size: 1.5rem;
}
