@import '../../styles/2-variables/_variables-index';
@import '../../styles/5-globals/_globals-index';

.search-page-container {
	display: grid;

	margin: $default-var;
	width: 90%;

	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax($default-var * 6.2, auto));

	row-gap: $default-var / 2;
	column-gap: $default-var;

	grid-template-areas:
		'searchheader'
		'searchform'
		'searchresults';

	@media (min-width: $breakpoint-md) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(3, minmax($default-var * 6, auto));

		grid-template-areas:
			'. searchheader searchheader searchheader searchheader searchheader searchheader searchheader searchheader searchheader searchheader .'
			'. searchform searchform searchform searchform searchform searchform searchform searchform searchform searchform .'
			'. searchresults searchresults searchresults searchresults searchresults searchresults searchresults searchresults searchresults searchresults .';
	}

	@media (min-width: $breakpoint-xl) {
		grid-template-areas:
			'. . searchheader searchheader searchheader searchheader searchheader searchheader searchheader searchheader . .'
			'. . searchform searchform searchform searchform searchform searchform searchform searchform . .'
			'. . . searchresults searchresults searchresults searchresults searchresults searchresults . . .';
	}
}

.base-search-page-item {
	padding: $default-var;
	max-width: 100vw;
}

#search-page-header {
	grid-area: searchheader;
}

#search-page-form {
	grid-area: searchform;
}

#search-page-reults {
	grid-area: searchresults;
}

/* Classes */
.search-page__header {
	@extend .base-search-page-item;
}

.search-page__form {
	@extend .base-search-page-item;
}

.search-page__results {
	overflow: hidden;

	@media (min-width: $breakpoint-md) {
		width: 100%;
	}
}
