// @import '../../../variables/_variables.scss';
@import '../../../styles/main.scss';

.country-detail-page-container {
	background-color: mediumorchid;
	display: grid;
	width: 100%;

	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax(50px, auto));

	grid-template-areas:
		'xg'
		'yg'
		'zg';

	@media (min-width: $breakpoint-sm) {
		background-color: green;
		grid-template-columns: repeat(12, 1fr);

		grid-template-areas:
			'. xg xg xg xg xg xg xg xg xg xg .'
			'. yg yg yg yg yg yg yg yg yg yg .'
			'. zg zg zg zg zg zg zg zg zg zg .';
	}

	@media (min-width: $breakpoint-md) {
	}
	@media (min-width: $breakpoint-lg) {
		background-color: mediumaquamarine;
		grid-template-areas:
			'. . xg xg xg xg xg xg xg xg . .'
			'. . yg yg yg yg yg yg yg yg . .'
			'. . zg zg zg zg zg zg zg zg . .';
	}
	@media (min-width: $breakpoint-xl) {
	}
}

#detail-1 {
	background-color: lightskyblue;
	grid-area: xg;

	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem 0;

	@media (min-width: $breakpoint-sm) {
		flex-direction: row;
		justify-content: space-between;
	}
}

#detail-2 {
	background-color: lightcoral;
	grid-area: yg;

	.detail-actions {
		padding: 1rem;
		display: flex;
		flex-direction: column;

		& Button {
			margin: 0.2rem;
		}

		@media (min-width: $breakpoint-sm) {
			flex-direction: row;
			justify-content: space-around;
		}
	}
}

#detail-3 {
	background-color: lightcyan;
	grid-area: zg;

	.detail-item {
		background-color: tomato;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
