@import '../../../styles/2-variables/_variables-index';

.search-form-container {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(5, minmax($default-var * 3, auto));

	row-gap: $netflix-var;
	column-gap: $netflix-var;

	grid-template-areas:
		'sfquery sfquery'
		'startyear startyear'
		'endyear endyear'
		'contenttype sfdropdown'
		'sfactions sfactions';

	@media (min-width: $breakpoint-sm) {
		grid-template-columns: repeat(8, 1fr);
		grid-template-rows: repeat(4, minmax($default-var * 3, auto));

		grid-template-areas:
			'sfquery sfquery sfquery sfquery sfquery sfquery sfquery sfquery'
			'startyear startyear startyear startyear endyear endyear endyear endyear'
			'contenttype contenttype contenttype contenttype sfdropdown sfdropdown sfdropdown sfdropdown'
			'sfactions sfactions sfactions sfactions sfactions sfactions sfactions sfactions';
	}

	@media (min-width: $breakpoint-xl) {
		grid-template-columns: reapet(8, 1fr);
		grid-template-rows: repeat(4, minmax($default-var * 3, auto));

		grid-template-areas:
			'. sfquery sfquery sfquery sfquery sfquery sfquery .'
			'. startyear startyear startyear endyear endyear endyear .'
			'. contenttype contenttype contenttype sfdropdown sfdropdown sfdropdown .'
			'. sfactions sfactions sfactions sfactions sfactions sfactions .';
	}
}

#search-form-dropdown {
	grid-area: sfdropdown;
}

#search-form-query {
	grid-area: sfquery;
}

#search-form-startyear {
	grid-area: startyear;
}

#search-form-endyear {
	grid-area: endyear;
}

#search-form-contenttype {
	grid-area: contenttype;
}

#search-form-actions {
	grid-area: sfactions;
}

/* Classes */
.search-form__actions {
	padding: $default-var;
}
