@import '../../../styles/2-variables/_variables-index';
@import '../../../styles/5-globals/_globals-index';

.icon-button {
	font: inherit;
	padding: 0.5rem 1.5rem;
	border: 1px solid $primary-red;
	border-radius: 4px;
	background: $primary-red;
	color: $netflix-text;
	cursor: pointer;
	text-decoration: none;
	@extend .center;

	&:focus {
		outline: none;
	}

	&:hover,
	&:active {
		background: $secondary-red;
		border-color: $secondary-red;
	}

	&:disabled,
	&:hover:disabled,
	&:active:disabled {
		background-color: $shades-gray-20;
		border-color: $shades-gray-20;
		color: $shades-gray-60;
		cursor: not-allowed;
	}
}

.icon--button--inverse {
	background: transparent;
	color: $netflix-text;

	&:hover,
	&:active {
		color: $netflix-text;
		background: $secondary-red;
	}
}

.icon--button--noborder {
	background: transparent;
	color: $netflix-text;
	border: none;

	&:hover,
	&:active {
		color: $netflix-text;
		background: $secondary-red;
	}

	&:disabled,
	&:hover:disabled,
	&:active:disabled {
		background-color: transparent;
		color: $shades-gray-60;
		cursor: not-allowed;
	}
}

.icon--button--danger {
	background: $button-danger;
	border-color: $button-danger;

	&:hover,
	&:active {
		background: $primary-red;
		border-color: $primary-red;
	}
}

.icon--button--small {
	font-size: 0.8rem;
}

.icon--button--big {
	font-size: 1.5rem;
}
