@import '../../../../styles/2-variables/_variables-index';

/* Hamburger menu */
.menu-container {
	width: 40px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 0;

	#menu {
		background-color: $primary-red;
		position: relative;
		width: 40px;
		height: 3px;
		z-index: 1;
		transition: all 0.4s ease;

		&::before,
		&::after {
			display: block;
			position: absolute;
			left: 0;
			top: -12px;
			content: '';
			width: 40px;
			height: 3px;
			background-color: $primary-red;
			transition: all 0.4s ease;
		}

		&::after {
			background-color: $primary-red;
			left: 0;
			top: 12px;
		}
	}

	&:hover #menu {
		background-color: $primary-black;
	}

	&:hover #menu::before,
	&:hover #menu::after {
		top: 0;
		left: 0;
		transform: rotate(45deg);
	}

	&:hover #menu::after {
		transform: rotate(-45deg);
	}
}

@media (min-width: $breakpoint-sm) {
	.menu-container {
		display: none;
	}
}
