@import '../../../../styles/2-variables/_variables-index';

.detail-poster-card {
	background-color: teal;
	.detail-card {
		display: none;
	}
}

.item-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: $breakpoint-sm) {
		display: flex;
		flex-direction: row;
		background-color: $shades-gray-40;
	}
}
