// @import '../../../../variables/_variables.scss';
@import '../../../../styles/main.scss';

.detail-poster-card {
	background-color: teal;
	// width: 100%;

	// display: inline-block;

	.detail-card {
		display: none;
	}
}

.item-details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (min-width: 576px) {
		display: flex;
		flex-direction: row;
		background-color: $shades-gray-40;
	}
}
