@import '../../styles/2-variables/_variables-index';

.Logo {
	background-color: transparent;
	padding: 8px;
	height: 100%;
	box-sizing: border-box;
	border-radius: 5px;
}

.Logo img {
	height: 100%;
	// display: inline-block;
}

.Logo:hover {
	cursor: pointer;
}
