// @import '../../../variables/_variables.scss';
@import '../../../styles/main.scss';

.search-list-results {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

@media (min-width: $breakpoint-sm) {
	.search-list-results {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}

@media (min-width: $breakpoint-md) {
	.search-list-results {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}

@media (min-width: $breakpoint-lg) {
	.search-list-results {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}
}
