@import '../../../styles/2-variables/_variables-index';

.img-upload-container {
	background-color: $shades-gray-60;
	padding: $default-var;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	.img-form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& > div:first-of-type {
			padding: 1rem;
		}
	}
}
