@import '../../../../variables/_variables.scss';

.dd-container {
	display: flex;
	flex-direction: column;
}

.dd-label {
	font-weight: bold;
	margin-bottom: 0.5rem;
}

.dd-wrapper {
	background-color: $shades-gray-40;
	position: relative;
	display: flex;
	min-height: calc($netflix-var * 5);
	flex-wrap: wrap;
	border-radius: calc($netflix- * 0.625);
	z-index: 15;
}

.dd-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	width: 100%;
	padding: 10px;
}

.dd-header__title--bold {
	font-weight: bold;
}

.dd-list {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	padding: 0;
	margin: 0;
	width: 100%;
	position: absolute;
	margin-top: calc($netflix-var * 7.75);
}

.dd-list li {
	list-style-type: none;
	overflow: hidden;
}

.dd-list li:first-child {
	border-top: 1px solid $dropdown-background;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.dd-list li:last-child {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 50px;
}

.dd-list-item button {
	display: flex;
	justify-content: space-between;
	background-color: $shades-gray-40;
	font-size: 16px;
	padding: 15px 20px;
	border: 0;
	border-bottom: 1px solid $dropdown-background;
	width: 100%;
	text-align: left;
	border-left: 1px solid $dropdown-background;
	border-right: 1px solid $dropdown-background;
}

.dd-list-item button:hover,
.dd-list-item button:focus {
	cursor: pointer;
	font-weight: bold;
	background-color: $shades-gray-20;
}
