@import '../../styles/2-variables/_variables-index';

.icon-item-container {
	background-color: transparent;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: middle;

	& > img {
		height: 100%;
	}

	&:hover {
		cursor: pointer;
	}
}
