@import '../../../styles/2-variables/_variables-index';

.dd-container {
	display: flex;
	flex-direction: column;
	z-index: 93;

	.dd-label {
		font-weight: bold;
		margin-bottom: 0.5rem;
		display: flex;
		flex-direction: row;
	}

	.dd-wrapper {
		background-color: $shades-gray-20;
		position: relative;
		display: flex;
		min-height: $default-var * 2.5;
		flex-wrap: wrap;
		border-radius: 5px;

		.dd-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			cursor: pointer;
			width: 100%;
			padding: $default-var * 0.6;
			color: $shades-gray-40;

			&:focus,
			&:active {
				background-color: $shades-gray-20;
				outline: none;
				border-radius: 5px;
			}
		}

		.dd-header__title {
			color: $primary-black;
		}

		.dd-list {
			box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
			padding: 0;
			margin-top: $default-var * 3.5;
			width: 100%;
			position: absolute;
			z-index: 92;

			li {
				list-style-type: none;
				overflow: hidden;

				&:first-child {
					border-top: 1px solid $dropdown-background;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}

				&:last-child {
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					margin-bottom: $default-var * 3;
				}
			}
		}

		.dd-list-item button {
			display: flex;
			justify-content: space-between;
			background-color: $shades-gray-40;
			font-size: $default-var;
			padding: $default-var;
			border: 0;
			border-bottom: 1px solid $dropdown-background;
			width: 100%;
			text-align: left;
			border-left: 1px solid $dropdown-background;
			border-right: 1px solid $dropdown-background;

			&:hover,
			&:focus {
				cursor: pointer;
				font-weight: bold;
				background-color: $shades-gray-20;
			}
		}
	}
}

.dropdown-state--invalid {
	.dd-label label {
		color: $error-primary;
	}
	#dropdown-errortext {
		color: $error-primary;
	}
	.dd-wrapper {
		border-color: $error-primary;
		background: $shades-red-40;
	}
}
