@import '../../styles/2-variables/_variables-index';

.cntry-pages-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, minmax($default-var * 4, auto));
	padding: $default-var 0;

	grid-template-areas:
		'a'
		'b'
		'c';

	@media (min-width: $breakpoint-sm) {
		grid-template-columns: repeat(12, 1fr);

		grid-template-areas:
			'. a a a a a a a a a a .'
			'. b b b b b b b b b b .'
			'. c c c c c c c c c c .';
	}

	@media (min-width: $breakpoint-md) {
		//
	}

	@media (min-width: $breakpoint-lg) {
		grid-template-areas:
			'. . a a a a a a a a . .'
			'. . b b b b b b b b . .'
			'. . c c c c c c c c . .';
	}
}

#title-item {
	grid-area: a;
	text-align: center;
}

#search-item {
	grid-area: b;
	padding: 0.1rem;
	margin: $default-var auto;
	width: 100%;
}

#cntry-list-item {
	grid-area: c;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}
