@import '../../styles/2-variables/_variables-index';
@import '../../styles/5-globals/_globals-index';

.pwd-reset-container {
	width: 80%;
	max-width: 400px;
	.send-reset-email-form {
		display: flex;
		flex-direction: column;
	}
}
