@import '../../styles/2-variables/_variables-index';
@import '../../styles/5-globals/_globals-index';

.slider-container {
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	overflow: hidden;

	.slide-container {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;

		@media (min-width: $breakpoint-xs) {
			width: 25%;
		}

		@media (min-width: $breakpoint-md) {
			width: 25%;
		}

		@media (min-width: $breakpoint-lg) {
			width: 50%;
		}
		@media (min-width: $breakpoint-xl) {
			width: 75%;
		}

		.slide {
			position: relative;
			transition: 0.5s;
			display: flex;
			justify-content: center;
			align-items: center;
			display: inline-block;
		}
	}

	%btn-styles {
		position: absolute;
		width: 10%;
		height: 100%;
		background: none;
		border: none;
		outline: none;
		transition: all 0.4s ease;
		display: flex;
		justify-content: center;
		align-items: center;

		&:hover {
			background: rgba(0, 0, 0, 0.356);
		}

		&:disabled {
			color: gray;
		}
	}

	#goLeft {
		left: 0;
		@extend %btn-styles;
	}

	#goRight {
		right: 0;
		@extend %btn-styles;
	}
}
