// @import '../../variables/_variables.scss';
@import '../../styles/main.scss';

.CountryList {
	list-style: none;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
