@import '../../../../variables/_variables.scss';

.form-control {
	margin: 1rem 0;
	position: relative;

	#input-errortext {
		position: absolute;
		@media (max-width: 667px) {
			right: 0;
		}
	}

	label,
	input,
	textarea {
		display: block;
	}

	label {
		font-weight: bold;
		margin-bottom: 0.5rem;
	}

	input,
	textarea {
		width: 100%;
		min-height: $default-var * 2.5;
		font-size: $default-var;
		color: $primary-black;
		border: none;
		border-radius: 5px;
		background: $shades-gray-40;
		padding: 0.15rem 0.25rem;

		&:focus {
			outline: none;
			background: $shades-gray-20;
			border-color: $shades-red-80;
			color: $netflix-text;
		}
	}
}

.form-control--invalid {
	label,
	p {
		color: $error-primary;
	}

	input,
	textarea {
		border-color: $error-primary;
		background: $shades-red-40;
	}
}
