@import '../../styles/2-variables/_variables-index';
@import '../../styles/5-globals/_globals-index';

.landingpage-container {
	display: grid;

	width: 100%;

	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, minmax($default-var * 6, auto));

	row-gap: $default-var;
	column-gap: $default-var;

	grid-template-areas:
		'homepageheader'
		'expiring'
		'expiring-nld'
		'new-nld'
		'test';

	@media (min-width: $breakpoint-sm) {
		grid-template-columns: repeat(12, 1fr);

		grid-template-areas:
			'. homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader .'
			'. expiring expiring expiring expiring expiring expiring expiring expiring expiring expiring  .'
			'. expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld  .'
			'. new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld  .'
			'. test test test test test test test test test test  .';
	}

	@media (min-width: $breakpoint-md) {
	}

	@media (min-width: $breakpoint-lg) {
		grid-template-areas:
			'. homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader .'
			'. expiring expiring expiring expiring expiring expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld .'
			'. new-nld new-nld new-nld new-nld new-nld test test test test test .';
	}
}

/* Grid layout */
#homepage-header {
	grid-area: homepageheader;
}
#homepage-expiring {
	grid-area: expiring;
}
#homepage-nld-expiring {
	grid-area: expiring-nld;
}
#homepage-nld-new-content {
	grid-area: new-nld;
}
#homepage-testing-carousel {
	grid-area: test;
}

/* Classes */
.homepage__base {
	padding: $default-var;
	max-width: 100vw;
}

.homepage__base_vertical_list {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}

	&:first-child {
		margin: 0.5rem;
	}

	@media (min-width: $breakpoint-md) {
		max-height: $default-var * 20;
	}

	@media (min-width: $breakpoint-lg) {
		max-height: $default-var * 25;
	}
}

.homepage__header {
	@extend .center-column;
	@extend .homepage__base;
}

.homepage__expiring {
	@extend .homepage__base;
}

.homepage__nld__expiring {
	@extend .homepage__base;
}

.homepage__nld__new_content {
	@extend .homepage__base;

	@media (min-width: $breakpoint-md) {
		max-width: 100%;
	}
}

.homepage__testing__carousel {
	@extend .homepage__base;
	@media (min-width: $breakpoint-md) {
		max-width: 100%;
	}
}
