@import '../../styles/2-variables/_variables-index';
@import '../../styles/5-globals/_globals-index';

.landingpage-container {
	display: grid;

	width: 100%;

	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, minmax($default-var * 6, auto));

	row-gap: $default-var;
	column-gap: $default-var;

	grid-template-areas:
		'homepageheader'
		'expiring'
		'expiring-nld'
		'new-nld'
		'test';

	@media (min-width: $breakpoint-sm) {
		// background-color: green;
		grid-template-columns: repeat(12, 1fr);

		grid-template-areas:
			'. homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader .'
			'. expiring expiring expiring expiring expiring expiring expiring expiring expiring expiring  .'
			'. expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld  .'
			'. new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld  .'
			'. test test test test test test test test test test  .';
	}

	@media (min-width: $breakpoint-md) {
		// background-color: lightgreen;
	}

	@media (min-width: $breakpoint-lg) {
		background-color: indianred;
		grid-template-areas:
			'. homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader homepageheader .'
			'. expiring expiring expiring expiring expiring expiring-nld expiring-nld expiring-nld expiring-nld expiring-nld .'
			'. new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld new-nld  .'
			'. test test test test test test test test test test  .';
	}
}

/* Grid layout */
#homepage-header {
	grid-area: homepageheader;
}
#homepage-expiring {
	grid-area: expiring;
}
#homepage-nld-expiring {
	grid-area: expiring-nld;
}
#homepage-nld-new-content {
	grid-area: new-nld;
}
#homepage-testing-carousel {
	grid-area: test;
}

/* Classes */

.homepage__base {
	padding: $default-var;
	// width: 100%;
	max-width: 100vw;
}

.homepage__base_vertical_list {
	background-color: tan;

	// max-height: 300px;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	&::-webkit-scrollbar {
		display: none;
	}

	&:first-child {
		margin: 0.5rem;
	}

	@media (min-width: $breakpoint-md) {
		max-height: $default-var * 20;
	}

	@media (min-width: $breakpoint-lg) {
		max-height: $default-var * 25;
	}
}

.homepage__header {
	background-color: indigo;
	@extend .center-column;
	@extend .homepage__base;
}

.homepage__expiring {
	background-color: mediumturquoise;
	@extend .homepage__base;
	@extend .homepage__base_vertical_list;
}

.homepage__nld__expiring {
	background-color: lightseagreen;
	@extend .homepage__base;
	// @extend .homepage__base_vertical_list;
	.exp-chip-container {
		// background-color: orange;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}

.homepage__nld__new_content {
	background-color: orange;
	@extend .homepage__base;

	@media (min-width: $breakpoint-md) {
		max-width: 100%;
	}
}

.homepage__testing__carousel {
	background-color: royalblue;
	@extend .homepage__base;
	@media (min-width: $breakpoint-md) {
		max-width: 100%;
	}

	.test-carousel {
		background-color: orchid;

		.slick-slider-carousel {
			background-color: orangered;
			// display: inline-block;
			width: 80%;

			& > img {
				width: 100%;
			}
		}
	}
}
