@import '../../styles/2-variables/_variables-index';

#account__container {
	display: grid;
	margin: 1rem;
	width: 100%;

	grid-template-columns: 1fr;
	grid-template-rows: 50px minmax(50px, auto) minmax(50px, auto);

	row-gap: $default-var;
	column-gap: $default-var;

	grid-template-areas:
		'account-header'
		'account-avatar'
		'user-info'
		'update-profile'
		'set-country'
		'update-avatar'
		'change-pwd';

	@media (min-width: $breakpoint-sm) {
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: 50px minmax(50px, auto) repeat(4, minmax(50px, auto));

		grid-template-areas:
			'. account-header account-header account-header account-header account-header account-header account-header account-header account-header account-header .'
			'. account-avatar account-avatar account-avatar account-avatar user-info user-info user-info user-info user-info user-info .'
			'. update-profile update-profile update-profile update-profile update-profile update-profile update-profile update-profile update-profile update-profile .'
			'. set-country set-country set-country set-country set-country set-country set-country set-country set-country set-country .'
			'. update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar .'
			'. change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd .';
	}

	@media (min-width: $breakpoint-md) {
		width: 80%;
	}

	@media (min-width: $breakpoint-lg) {
	}

	@media (min-width: $breakpoint-xl) {
		grid-template-areas:
			'. . account-header account-header account-header account-header account-header account-header account-header account-header . .'
			'. . account-avatar account-avatar account-avatar user-info user-info user-info user-info user-info . .'
			'. . update-profile update-profile update-profile update-profile update-profile update-profile update-profile update-profile . .'
			'. . set-country set-country set-country set-country set-country set-country set-country set-country . .'
			'. . update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar update-avatar . .'
			'. . change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd change-pwd . .';
	}
}

#account-header {
	grid-area: account-header;
}
#account-avatar {
	grid-area: account-avatar;
}
#account-user-info {
	grid-area: user-info;
}
#account-update-profile {
	grid-area: update-profile;
}
#account-set-country {
	grid-area: set-country;
}
#account-update-avatar {
	grid-area: update-avatar;
}
#account-change-password {
	grid-area: change-pwd;
}

.account__item {
	display: flex;
	flex-direction: column;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	transition: all 0.35s ease-in-out;
	background-color: $shades-gray-80;
	margin: 0.1rem;

	& > div:nth-child(1) {
		display: flex;
		justify-content: space-between;
		padding: $default-var;

		& > h3 {
			border-bottom: 1px solid $primary-red;
			transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
			-webkit-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
			-moz-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
			-o-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;
			-ms-transition: margin-left 0.3s linear, font-weight 0.2s linear, color 0.3s linear;

			&:hover {
				margin-left: 20px;
				font-weight: 600;
				color: $primary-red;
				cursor: pointer;
			}
		}
	}
}

.account__header {
	@extend .account__item;
	justify-content: center;
	align-items: center;
}

.account__avatar {
	display: flex;
	justify-content: center;
	align-items: center;

	.user-item__image {
		width: 100%;
		height: 100%;
	}
}

.account__user__info {
	@extend .account__item;
	padding: $default-var;
	flex-direction: column;
	justify-content: space-between;

	& > div:first-of-type {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		line-height: 1.6rem;
	}
}

.account__update__profile {
	@extend .account__item;
}

.account__country__setter {
	@extend .account__item;
}

.account__update__avatar {
	@extend .account__item;
}

.account__change__pwd {
	@extend .account__item;
}
