@import '../../../../../variables/_variables.scss';

.DrawerToggle {
	width: 40px;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	box-sizing: border-box;
	cursor: pointer;
}

.DrawerToggle div {
	width: 90%;
	height: 3px;
	background-color: $primary-red;
}

@media (min-width: 500px) {
	.DrawerToggle {
		display: none;
	}
}

/* Hamburger menu */
.menu-container {
	width: 40px;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
}

#menu {
	background-color: $primary-red;
	position: relative;
	width: 40px;
	height: 3px;
	z-index: 1;
	transition: all 0.4s ease;
}

#menu::before,
#menu::after {
	display: block;
	position: absolute;
	left: 0;
	top: -12px;
	content: '';
	width: 40px;
	height: 3px;
	background-color: $primary-red;
	transition: all 0.4s ease;
}

#menu::after {
	background-color: $primary-red;
	left: 0;
	top: 12px;
}

.menu-container:hover #menu {
	background-color: $primary-black;
}

.menu-container:hover #menu::before,
.menu-container:hover #menu::after {
	top: 0;
	left: 0;
	transform: rotate(45deg);
}

.menu-container:hover #menu::after {
	transform: rotate(-45deg);
}

#menu:active::before,
#menu:active::after {
	top: 0;
	left: 0;
	transform: rotate(-45deg);
}

#menu:active::after {
	transform: rotate(45deg);
}

@media (min-width: 500px) {
	.menu-container {
		display: none;
	}
}
