// @import '../../../variables/_variables.scss';
@import '../../../styles/main.scss';

.Country-item {
	margin: 1rem;
	width: calc(45% - 2rem);
	min-width: 17.5rem;
}

.Country-item a {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	padding: 1rem;
	color: white;
	background: $secondary-black;
}

.Country-item a:hover,
.Country-item a:active {
	background: #ffd900;
}

.Card.Country-item__content {
	padding: 0;
}

.Country-item__image {
	width: 4rem;
	height: 4rem;
	margin-right: 1rem;
}

.Country-item__info h2 {
	font-size: 1.5rem;
	margin: 0 0 0.5rem 0;
	font-weight: normal;
	color: #ffd900;
}

.Country-item:hover h2,
.Country-item:active h2,
.Country-item:hover h3,
.Country-item:active h3 {
	color: $secondary-black;
}

.Country-item__info h3 {
	margin: 0;
}

@media (min-width: 500px) {
	.Country-item {
		cursor: pointer;
	}
}
