.backgroundContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    margin-top: -50px;
}

.loginBG {
    background-image: url('../../assets/netflix-image.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 250% 150%;
    background-position: bottom left;
    z-index: 2;
    position: absolute;
}


.authentication {
    width: 100%;
    text-align: center;
    z-index: 5;
}

.authentication__header {
    color: var(--netflix-text);
    text-align: center;
    margin-bottom: 2rem;
}

.authentication form {
    margin: 0 1rem 1rem 1rem;
}

#loginButton {
    margin-top: 3rem;
}


@media screen and (min-width: 500px) {
    .authentication {
        width: 80%;
        max-width: 35rem;
        margin: 5rem auto;
        text-align: center;
    }
}

/* iPad */
@media screen and (max-width: 1024px) and (min-width: 768px) {}

/* iPad pro */
@media screen and (max-width: 1200px) and (min-width: 1024px) {}


@media (min-width: 1024px) {
    .loginBG {
        background-size: 100% 100%;
        background-position: top 20px left;
    }
}

@media (min-width: 2024px) {
    .loginBG {
        background-size: 100% 100%;
    }
}