.backgroundContainer {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -3;
    margin-top: -100px;
}

.loginBG {
    background-image: url('../../assets/netflix-image.jpg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 220% 120%;
    background-position: top 50px left -80px;
    z-index: -2;
    position: absolute;
}



.authentication {
    padding: 1rem;
    width: 100%;
    width: 25rem;
    margin: 7rem auto;
    text-align: center;
    margin-top: 100px;
}

.authentication__header {
    color: var(--netflix-text);
    text-align: center;
    margin-bottom: 2rem;
}

.authentication form {
    margin: 0 1rem 1rem 1rem;
}

#loginButton {
    margin-top: 3rem;
}

/* @media (min-width: 500px) {
    .authentication {
        padding: 1rem;
        width: 60%;
        max-width: 25rem;
        margin: 7rem auto;
        text-align: center;
    }

    body {
        background-size: 100% 200%;
        background-position: top 50px left;
    }

} */

/* iPad */
/* @media screen and (max-width: 1024px) and (min-width: 768px) {
    body {
        background-size: 100% 200%;
        background-position: top 50px center;
    }
} */

/* iPad pro */
/* @media screen and (max-width: 1200px) and (min-width: 1024px) {
    body {
        background-size: 200% 250%;
        background-position: top 50px center;
    }
}
*/

@media (min-width: 1024px) {
    .loginBG {
        background-size: 100% 100%;
        background-position: top 50px left;
    }
}

@media (min-width: 2024px) {
    .loginBG {
        background-size: 100% 100%;
        background-position: top 50px left;
    }
}