@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Color settings */
  --netflix-primary-red: #db0000;
  --netflix-primary-black: #000000;
  --netflix-text: #efefef;
  --netflix-secondary-red: #831010;
  --netflix-secondary-black: #4c4c4c;
  /* Color shades gray*/
  --netflix-shades-gray-80: #333333;
  --netflix-shades-gray-60: #555555;
  --netflix-shades-gray-40: #777777;
  --netflix-shades-gray-20: #999999;
  /* Color shade red */
  --netflix-shades-red-80: #ff3232;
  --netflix-shades-red-60: #ff4c4c;
  --netflix-shades-red-40: #ff7f7f;
  --netflix-shades-red-20: #ffb2b2;
  /* Error shades */
  --netflix-error-primary: #ff0000;
  --netflix-error-secondary: #ff4d4d;
  /* Button styling */
  --netflix-button-disabled: #ccc;
  --netflix-button-danger: #831010;
  --netflix-button-inverse: #4c4c4c;
  /* Tooltip styling */
  --tooltip-text-color: white;
  --tooltip-background-color: black;
  --tooltip-margin: 30px;
  --tooltip-arrow-size: 6px;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: var(--netflix-secondary-black);
  color: var(--netflix-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}