@import '../../../styles/2-variables/_variables-index';

.profile-info-container {
	flex-direction: column;
	background-color: $shades-gray-60;
	padding: $default-var;

	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;

	@media (min-width: $breakpoint-sm) {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.profile-form {
		width: 100%;

		@media (min-width: $breakpoint-sm) {
			width: 80%;
		}
	}
}
