@import '../../../styles/2-variables/_variables-index';
@import '../../../styles/5-globals/_globals-index';

.header-item {
	padding: 0.5rem;
	font-weight: bold;

	.header-actions {
		@extend .center;
	}
}

.header-center {
	@extend .center-column;
}

.header-medium {
	font-size: 1rem;
}

.header-large {
	font-size: 1.4rem;
}

.header-x-large {
	font-size: 1.8rem;
}
